# {{ ansible_managed }}

{% if frr.daemons is defined  %}
{% for daemon in frr.daemons %}
{{ daemon }}={{ frr.daemons[ daemon ].enabled | ternary('yes', 'no') }}
{% endfor %}


{% if frr.vtysh.enabled is defined %}
vtysh_enable={{ frr.vtysh.enabled | ternary('yes', 'no') }}
{% endif %}

{% for daemon in frr.daemons %}
{{ daemon }}_options="{{ frr.daemons[ daemon ].options  }}"
{% endfor %}

{% endif %}

{# TODO: MAX_FDS= #}
