  address-family ipv4 unicast
{% if af.networks is defined %}
{%  for net in af.networks %}
{%    if net is defined %}
    network {{ net }}
{%    endif %}
{%  endfor %}
{% endif %}
{% if af.neighbors is defined %}
{%   for n in af.neighbors %}
{%     if n.activate is defined %}
{%       if n.activate %}
    neighbor {{ n.neighbor }} activate
{%       else %}
    no neighbor {{ n.neighbor }} activate
{%       endif %}
{%     endif %}
{%     for direct, name in (n.route_map | default({})).items() %}
    neighbor {{ n.neighbor }} route-map {{ name }} {{ direct }}
{%     endfor %}
{%     for direct, name in (n.prefix_list | default({})).items() %}
    neighbor {{ n.neighbor }} prefix-list {{ name }} {{ direct }}
{%     endfor %}
{%     if n.default_originate is defined %}
{%       if n.default_originate.enabled | default(False) %}
    neighbor {{ n.neighbor }} default-originate{% if n.default_originate.route_map is defined %}{{ ' ' ~ n.default_originate.route_map }}{% endif +%}
{%       endif %}
{%     endif %}
{%   endfor %}
{% endif %}
{% if af.redistribute is defined %}
{%   include 'frr_bgp_address_family_redistribute.j2' %}
{% endif %}
  exit-address-family
{# {% if af.neighbors is defined and ipv4u.neighbors != '' %}  #}
{# {% for n in af.neighbors %} #}
{# {% if nipv4.neighbor is defined and nipv4.neighbor | #}
{#   ansible.utils.ipaddr('host') %} #}
{# {% if nipv4.soft_reconfiguration_inbound is defined and #}
{#       nipv4.soft_reconfiguration_inbound == 'true' %} #}
{# {{ '  neighbor ' ~ nipv4.neighbor ~ ' soft-reconfiguration inbound' }} #}
{# {% endif %} #}
{# {% if nipv4.distribute_list is defined and nipv4.distribute_list != '' %} #}
{# {% for nd in nipv4.distribute_list %} #}
{# {% if nd.in is defined and nd.in != '' %} #}
{# {{ '  neighbor ' ~ nipv4.neighbor ~ ' distribute-list ' ~ nd.in ~ ' in' }} #}
{# {% endif %} #}
{# {% if nd.out is defined and nd.out != '' %} #}
{# {{ '  neighbor ' ~ nipv4.neighbor ~ ' distribute-list ' ~ nd.out ~ ' out' }} #}
{# {% endif %} #}
{# {% endfor %} #}
{# {% endif %} #}
{# {% if nipv4.filter_list is defined and nipv4.filter_list != '' %} #}
{# {% for nf in nipv4.filter_list %} #}
{# {% if nf.in is defined and nf.in != '' %} #}
{# {{ '  neighbor ' ~ nipv4.neighbor ~ ' filter-list ' ~ nf.in ~ ' in' }} #}
{# {% endif %} #}
{# {% if nf.out is defined and nf.out != '' %} #}
{# {{ '  neighbor ' ~ nipv4.neighbor ~ ' filter-list ' ~ nf.out ~ ' out' }} #}
{# {% endif %} #}
{# {% endfor %} #}
{# {% endif %} #}
{# {% endif %} #}
{# {% endfor %} #}
{# {% endif %} #}

