{% for p in frr.prefix_list_ipv6 %}
{%   if p.name is defined and p.name != '' %}
{%     if p.description is defined and p.description != '' %}
ipv6 prefix-list {{ p.name }} description {{ p.description }}
{%     endif %}
{%     for rule in p.rules | default([]) %}
ipv6 prefix-list {{ p.name }} {% if rule.seq is defined %} seq {{ rule.seq }} {% endif %}{{ rule.permit | ternary('permit', 'deny') }} {{ rule.address }}
{%     endfor %}
{%   endif %}
{% if loop.last %}
{{ '!' }}
{% endif %}
{% endfor %}
