{% for s in frr.router.bgp %}
{%  if s.asn is defined and s.asn is not none %}
router bgp {{ s.asn }}{% if s.vrf is defined %} vrf {{ s.vrf }}{% endif +%}
{%  endif %}
{%  if s.router_id is defined %}
  bgp router-id {{ s.router_id }}
{%  endif %}
{%  if s.default_ipv4_unicast is defined %}
{%    if s.default_ipv4_unicast %}
  bgp default ipv4-unicast
{%    else %}
  no bgp default ipv4-unicast
{%    endif %}
{%  endif %}
{%  if s.ebgp_requires_policy is defined %}
{%    if s.ebgp_requires_policy %}
  bgp ebgp-requires-policy
{%    else %}
  no bgp ebgp-requires-policy
{%    endif %}
{%  endif %}

{%  for n in s.neighbors | default([]) %} 
{%    include 'frr_bgp_neighbor.j2' %} 
{%  endfor %} 

{%  if s.address_family_ipv4_unicast is defined %}
{%    set af = s.address_family_ipv4_unicast %}
{%    include 'frr_bgp_address_family_ipv4_unicast.j2' %} 
{%  endif %} 
{%  if s.address_family_ipv6_unicast is defined %}
{%    set af = s.address_family_ipv6_unicast %}
{%    include 'frr_bgp_address_family_ipv6_unicast.j2' %} 
{%  endif %} 


{% endfor %}


{# {% if s.bgp_graceful_restart is defined and r.bgp_graceful_restart == 'true' %}  #}
{# {{ ' bgp graceful-restart' }}  #}
{# {% endif %}  #}

{# {{ '\nexit\n!' }} #}
{# {% endfor %} #}
